.email-container {
  height: 200px;
  width: 80%;
  background: #fff;
  border-radius: 15px;
  border: 2px dashed var(--border-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.input-field {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field input {
  outline: none;
  border: none;
  border-bottom: 2px dashed var(--border-color);
  padding: 10px;
  font-size: large;
}
#send-email-btn{
   display: inline-flex;
   height: 50px;
   width: 50%;
   text-align: center;
}

.btn-disabled{
  background: linear-gradient(90deg, #5a7fe4 0%, #5a88eb 100%);
}