.upload-progress {
  height: 100px;
  width: 80%;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upload-progress span {
  display: inline-block;
  margin-top: 10px;
}
.upload-progress .upload-bar {
  height: 100%;
  background-color: var(--bg-color);
  position: absolute;
  top: 0;
  left: 0;
  transition: all ease .5s;
  border-radius: 10px;
  z-index: -1;
}
.upload-progress div .upload-line {
  height: 3px;
  background: #20c5f7;
  transition: all ease .5s;

}

.upload-progress div {
  height: 100%;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
}
